@import url('https://fonts.googleapis.com/css?family=Hind:400,600');

.bar-nav, .content{
    padding-top: 10px;
}

.bar .icon{
    font-size: 4.5vh;
    padding:0;
}

.title{
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    color: #333;
    line-height: 2;

}
h2{
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 0px rgba(63,107,169, 0.5);
}

input{
   box-shadow: 3px 3px 5px #888888; 
}
.btn-positive, .btn-primary{
    box-shadow: 3px 3px 5px #888888;
}
select{
    box-shadow: 3px 3px 5px #888888;
}
textarea{
    box-shadow: inset 15px 15px 46px -27px rgba(0,0,0,0.56);
}